.paypal{
    color: white;
    background-color: #0038FF;
    border-radius: 0.625rem;
    justify-content: center;
    align-items: center;
}
.card{
    color: white;
    background-color: #F47B0A;
    border-radius: 0.625rem;
    justify-content: center;
    align-items: center;
}
.bank{
    color: white;
    background-color: #EB4796;
    border-radius: 0.625rem;
    justify-content: center;
    align-items: center;
}