.container{
    font-size: 1.0625rem;
    margin-bottom: 2.47em;
}

.infoCard{
    display: flex;
    flex-direction: column;
    font-size: 1.0625rem;
    padding: 1.471em 1.471em 1.471em 1.765em;

    hr{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    :nth-child(1){
        font-size: 1em;
        font-weight: 500;
    }

    :nth-child(2){
        font-size: 0.9em;
        font-weight: 400;
    }

    :nth-child(3){
        font-size: 0.9em;
        font-weight: 400;
    }

}

.topTexts{
    
    font-size: 1.0625rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 1em;

    :nth-child(1){
        font-weight: 600;
        font-size: 1em;
    }

    :nth-child(2){
        color: var(--c-orange);
        font-size: 0.9em;
        font-weight: 400;
        cursor: pointer;
    }
}

