
.container{
    font-size: 0.8125rem;
    margin-bottom: 3em;
    margin-top: 2.3em;
    max-width: 315px;
}

.title{
    font-size: 1.0625rem;
    font-weight: 600;
    padding-bottom: 0.706em;
    padding-left: 0.294em;
}   

.profileCard{
    img{
        height: 60px;
        border-radius: 10px;
    }
    
    font-size: 0.8125rem;
    display: flex;
    padding-top: 1.53em;
    padding-left: 1.23em;
    .details{
        display: flex;
        flex-direction: column;
        margin-left: 1.15em;
        

        

     

        :nth-child(2){
            opacity: 0.5;
            margin: 0.7em 0;
        }

        :nth-child(3){
            opacity: 0.5;
        }

        label{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            :nth-child(1){
                font-size: 1.38em;
                font-weight: 600;
            }

            :nth-child(2){

                margin: 0;
                margin-right: 1em;
                width: 1.0625rem;
                height: 1.0625rem;
                opacity: 1;
                cursor: pointer;
            }
        }
    }    
}
