.optionCard{
    
    font-size: 17px;

    form{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 1.5em;
        padding-top: 1.8em;

        

        hr{
            margin-top: 1.5em;
            margin-bottom: 1.3em;
            margin-left: 1.78em;
            width: 80%;
        }

        span{
            margin-left: 1em;
        }
    }
}


.cardTitle{
    font-size: 17px;
    font-weight: 600;
    margin-left: 0.2em;
    margin-bottom: 1.2em;
}