.container{
    font-size: 17px;
    margin-bottom: 1.58em;
}

.profileCard{
    display: flex;
    flex-direction: row;
    

    img{
        max-width: 91px;
        height: 100px;
        border-radius: 10px;
        
        margin: 0px 16px;
        margin-top: 18px;
    }
}

.topTexts{
    
    font-size: 17px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 1em;

    :nth-child(1){
        font-weight: 600;
        font-size: 1em;
    }

    :nth-child(2){
        color: var(--c-orange);
        font-size: 0.9em;
        font-weight: 400;
        cursor: pointer;
    }
}

.details{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    max-width: 182px;
    height: 145px;
    order: 1;
    margin-top: 1em;

    hr{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        width: 95%;
        margin-right: 15px;
        opacity: 0.5;    
    }
    

    :nth-child(1){
        font-weight: 700;
        font-size: 1.2em;
    }

    :nth-child(2){
        opacity: 0.5;
        margin-top: 0.4em;
    }

    :nth-child(4){
        opacity: 0.5;
    }

    :nth-child(6){
        opacity: 0.5;
    }
}


