.mainButton{
    min-width: 285px;
    height: 60px;
    font-weight: 600;
    font-size: 17px;
    border-radius: 99px;
    cursor: pointer;
    font-family: 'SF Pro Display';
    font-weight: 600;
    
    
}

.orange{
    background-color: var(--c-orange);
    color: white;
}

.white{
    background-color: white;
    color: var(--c-orange);
}

.tiny{
    min-width: 159px;
    margin-bottom: 0;

}
