.container {
  font-size: 0.9375rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  @media screen and (max-width: 340px) {
    margin-top: 1em;
  }

  label {
    display: block;
    letter-spacing: 1px;
    padding-top: 2em;
    text-align: start;
    padding-bottom: 0.5em;
  }

  form a {
    color: var(--c-orange);
    cursor: pointer;
    font-weight: 600;
    font-size: 1.13em;
  }

  label .labelText {
    opacity: 0.5;
    cursor: text;
    font-size: 1em;
    font-weight: 600;
    -moz-transform: translateY(-34px);
    -ms-transform: translateY(-34px);
    -webkit-transform: translateY(-34px);
    transform: translateY(-34px);
    transition: all 0.4s;
  }

  label input:focus + .labelText {
    font-size: 1.13em;
    margin-top: 0.6em;
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
  }

  label input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #4a4a4a;
    font-size: 1.13em;
    font-weight: 600;
    letter-spacing: 1px;
    outline: 0;
    padding: 0.33em 0.7em;
    text-align: center;
    transition: all 0.3s;
    width: 280px;

    @media screen and (max-width: 330px) {
      width: 250px;
    }
    @media screen and (min-width: 768px) {
      width: 560px;
    }
  }
  /* once you click in the input the input width box animates */
  label input:focus {
    max-width: 100%;
    width: 320px;
    @media screen and (max-width: 330px) {
      width: 265px;
    }
  }

  /* the text floats up during form validation */
  label input:valid + .labelText {
    font-size: 1em;
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
  }
}
