

.container{
    font-size: 15px;
}

form a{
    color: var(--c-orange);
    cursor: pointer;
    font-weight: 600;
    font-size: 1.13em;
}

label {
  display: block;
  letter-spacing: 1px;
  padding-top: 2em;
  text-align: start;
  padding-bottom: 0.5em;
}

label .labelText {
  opacity: 0.5;
  cursor: text;
  font-size: 1em;
  font-weight: 600;
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  transition: all 0.4s;
}

label input:focus + .labelText {
    font-size: 1.13em;
    margin-top: 0.6em;
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
}

label input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #4A4A4A;
    font-size: 1.13em;
    font-weight: 600;
    letter-spacing: 1px;
    outline: 0;
    padding: 0.33em 0.7em;
    text-align: center;
    transition: all 0.3s;
    width: 220px;
  }
  /* once you click in the input the input width box animates */
  label input:focus {
    max-width: 100%;
    width: 250px;
  }

  /* the text floats up during form validation */
label input:valid + .labelText {
    font-size: 1em;
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
  }
