.layout {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 75%;
  min-width: 315px;
  display: flex;
  flex-direction: column;
  position: sticky;
}

@media screen and (max-width: 330px) {
  .container {
    min-width: 300px;
  }
}

.searchLayout {
  .container {
    width: 100%;
  }
}
