.container {
  background-color: var(--c-orange);
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.menuContainer {
  color: white;
  display: flex;
  padding-top: 120px;
  flex-direction: column;
  @media screen and (max-width: 360px) {
    padding-top: 20px;
  }
}

.sidemenu {
  font-size: 17px;
  margin-top: 2em;
  z-index: 1;

  .buttonContainer {
    font-weight: 600;
    margin-left: 1.5em;
    padding-top: 1.52em;
    margin-bottom: 26px;
   

    a {
      margin-left: 0.7em;
      cursor: pointer;
      border-bottom: 1px solid #F4F4F8;
      padding-bottom: 1.52em;
    }
  }
}

.lastButton {
  margin: auto 0 84px 34px;
  font-size: 17px;
  display: flex;
  cursor: pointer;

  a {
    font-weight: 600;
    margin-right: 0.5em;
  }
}

.pContainer {
  background-color: white;
  max-width: 140px;
  max-height: 532px;
  margin: auto 0 auto auto;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  -webkit-box-shadow: -9px 35px 2px 8px rgba(248, 107, 59, 1);
  -moz-box-shadow: -9px 35px 2px 8px rgba(248, 107, 59, 1);
  box-shadow: -9px 35px 2px 8px rgba(248, 107, 59, 1);
  z-index: 0;

  .content {
    margin-left: 15px;
    :nth-child(1) {
      margin-top: 5px;
    }

    :nth-child(2) {
      margin-left: 5px;
    }

    img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      float: right;
      margin-right: 5px;
      margin-bottom: 15px;
    }

    :nth-child(4){
      font-weight: 600;
      font-size: 20px;
    }

    :nth-child(6){
      font-weight: 500;
    }
    p{
      font-size: 10px;
      opacity: 0.5;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}
